I. Load data

In [32]:
import pandas as pd

In [93]:
df_campaign = pd.read_csv('D:/PyBI/pandas_exercises-master/MazPythonData/Dataset/campaign.csv')
df_customer = pd.read_csv('D:/PyBI/pandas_exercises-master/MazPythonData/Dataset/customer.csv')
df_device = pd.read_csv('D:/PyBI/pandas_exercises-master/MazPythonData/Dataset/device_detail.csv')
df_status = pd.read_csv('D:/PyBI/pandas_exercises-master/MazPythonData/Dataset/status_detail.csv')
df_ticket = pd.read_csv('D:/PyBI/pandas_exercises-master/MazPythonData/Dataset/ticket_history.csv')

II. Bai tap

Bài tập 1: Lấy ra danh sách những giao dịch đặt vé với hình thức thanh toán là bank account và balance

In [61]:
# Su dung dataframe nao cho hop ly
df_ticket[(df_ticket['paying_method'] == 'bank account') | (df_ticket['paying_method'] == 'balance')]

# Another way better
df_ticket[df_ticket['paying_method'].isin(['bank account', 'balance'])]

,ticket_id,customer_id,paying_method,theater_name,device_id,original_price,discount_value,final_price,time,status_id,mkt_campaign_code,movie_name
2,3b6145254e74306bfa15e359ee325512,115177,bank account,113.0,684bdc0b76a40607030c561c67dc2345,9.07,2.56,6.51,2019-11-17 11:35:33.195,1,25690,The Grand Grandmaster
3,882a93bb56d6b2005c55216e6f4b64e2,116901,bank account,53.0,603473a9b300a100206c4183eb11a63f,12.78,2.56,10.22,2019-11-07 22:16:34.600,1,25680,The Grand Grandmaster
6,58bda0381a12af1a7c05e50685a415ec,109030,bank account,76.0,8de464cb1e44623288e128de8648ffe6,4.54,0.00,4.54,2019-11-06 20:37:44.202,1,0,The Grand Grandmaster
7,2737934f95e5f073b8a2b9f73b41af38,118518,balance,103.0,a8d2289de50322b454f68586e5f93015,4.54,1.28,3.26,2019-11-10 18:01:54.865,1,25680,The Grand Grandmaster
10,7377a187ae60c9d72ae823c65b126613,135054,bank account,16.0,30c0d56d80ea79b851d2da4d8180ea9f,7.84,0.00,7.84,2019-11-06 13:08:59.374,1,0,The Grand Grandmaster
...,...,...,...,...,...,...,...,...,...,...,...,...
67509,9948d44aaf77220f4561074eb6d0c8cb,100156,balance,36.0,f442aa702c2c9954c9f13e298c847a78,11.55,0.00,11.55,2020-02-21 11:39:38.792,1,0,The Gentlemen
67511,a8a60890992dd6975bfd8acde6eb6bd7,136117,balance,50.0,921672760440bb9b33f7d1c25e6090a4,4.54,1.28,3.26,2020-02-22 20:10:26.872,1,33100,The Gentlemen
67512,3f351e60ae41804ca5a3d2763b992e48,137475,balance,67.0,e3b78d7354c8d6f55c2d4d3961bbf163,10.72,0.00,10.72,2020-02-27 17:58:58.353,1,0,The Gentlemen
67516,41e22645f2aa7ea586ead806e87abf19,114959,bank account,9.0,b1581fc9f40ae46af0ba30ca05995f24,7.38,0.00,7.38,2020-02-24 16:50:35.207,1,0,The Gentlemen
67520,311f201448bbadfaf229f0457fd3652a,125872,balance,104.0,509f3a9ff38b8566cff3e03955a08c7e,10.68,0.00,10.68,2020-02-21 18:34:40.420,1,0,The Gentlemen

Bài tập 2: Lấy ra thông tin ticket_id, customer_id, theater_name của những giao dịch đặt vé trên web, sắp xếp tăng dần theo thời gian đặt vé

In [ ]:
# Explore data
df_device.head(5)
df_ticket.head(5)

,ticket_id,customer_id,paying_method,theater_name,device_id,original_price,discount_value,final_price,time,status_id,mkt_campaign_code,movie_name
0,9f2da3491b42b7599065ac102bdcb4c2,100004,credit card,33.0,3cac5d2e2eb76525aecea5c2ab46b3d9,4.54,1.28,3.26,2019-11-16 13:28:24.970,1,25690,The Grand Grandmaster
1,8607fe9d2d12e14d711c49ae1204de29,118325,credit card,20.0,9d6100d117d5f0aa65fc29b6d9edd9f7,3.09,0.00,3.09,2019-11-13 18:12:03.260,1,0,The Grand Grandmaster
2,3b6145254e74306bfa15e359ee325512,115177,bank account,113.0,684bdc0b76a40607030c561c67dc2345,9.07,2.56,6.51,2019-11-17 11:35:33.195,1,25690,The Grand Grandmaster
3,882a93bb56d6b2005c55216e6f4b64e2,116901,bank account,53.0,603473a9b300a100206c4183eb11a63f,12.78,2.56,10.22,2019-11-07 22:16:34.600,1,25680,The Grand Grandmaster
4,f3eb7c056b38244d23eed5e4cb019a44,135362,credit card,103.0,bcdee3b6e86f8bbd99a0026e28359e48,12.37,0.00,12.37,2019-11-06 22:02:55.425,1,0,The Grand Grandmaster

In [81]:
df = pd.merge(df_ticket, df_device, how = 'inner', on = 'device_id')
df.head(5)

#df[df['platform'].isin(['website'])].sort_values(by = 'time')
#df[df['platform'] == 'website'].sort_values(by = 'time')
df[df['platform'] == 'website'].sort_values(by = 'time')[['ticket_id', 'customer_id', 'theater_name']]

                              ticket_id  customer_id  theater_name
26754  b0cfcf7c5e695cbe7a5077682d39a0ae       137562          61.0
34007  6eff537541643d2d2f0b4eb89e3b6562       101793           4.0
4782   7670f48e7c3709e71ee83d22e6dbfd8f       130756          67.0
62441  bf3c684bb5c85ff5f9374bb1f4fc6e31       106566          13.0
68739  b26f4e9ce5726ca8a9f9c89038335e87       146277          36.0
...                                 ...          ...           ...
49815  135fc9117f66dca842ffa794292075bc       150669          50.0
49279  4d6e9e98d5569b3781edfb20479a67dc       149468          77.0
49649  6ea27b8864b8764825a70565e84831b2       142573          43.0
49691  829945a98f02a2baa9c46d495a05cc35       150498          50.0
49809  eb5992e2b7a398c87ece7350709e2ccf       150123          78.0

[504 rows x 3 columns]

Bài tập 3: Tìm tất cả những giao dịch có tỷ lệ tiền được discount > 50%

In [88]:
df_ticket[df_ticket['discount_value'] / df_ticket['original_price'] > 0.5]

,ticket_id,customer_id,paying_method,theater_name,device_id,original_price,discount_value,final_price,time,status_id,mkt_campaign_code,movie_name
98,dbe0ecd326f2f3b9ccb0d8b5b892c45f,127864,debit card,35.0,379b1a7bb11937e463de0036815d35bb,12.78,11.96,0.82,2019-01-05 14:35:48.252,1,13740,Spider-Man
140,379857c380f20fbd5d3d8211c429356b,128384,balance,19.0,4449cdccf115e843247d517d3e285b22,11.55,10.72,0.83,2019-01-05 10:05:06.836,1,13740,Spider-Man
141,f28976d5963b0cab58ccbde9a0462262,128384,balance,19.0,4449cdccf115e843247d517d3e285b22,11.55,10.72,0.83,2019-01-05 10:05:04.044,-3,13740,Spider-Man
266,1919d71dee50e9b5f1efb040fe57cac4,138988,balance,96.0,0f00ad855bb306bf7f730d07669b0fb3,4.95,4.91,0.04,2019-07-06 16:28:20.186,1,17190,Spider-Man
332,ce2a36ec6242ea4d8420bf53a02294d7,113488,balance,46.0,595853651fdc935c85fafc05576e13ce,4.54,4.50,0.04,2019-07-05 13:15:47.440,1,17190,Spider-Man
...,...,...,...,...,...,...,...,...,...,...,...,...
67349,39977fd546ef9bf50afa54593f5f02ef,113355,balance,90.0,8f81fca2698381f440e1d0e52a647792,2.47,2.43,0.04,2019-06-03 13:18:26.757,1,17190,21 Bridges
67374,e599739d06fe40b6bb3c5ea8b46968c0,138258,balance,90.0,690c1526b58f3bef95de385f8d51c65f,4.95,4.91,0.04,2019-06-14 23:28:51.421,1,17190,Jurassic World: Fallen Kingdom
67386,d7f6cafc9b92d17a42e1297ececec71b,138300,balance,9.0,96fc7c15ad3980084f8ad451fbbbf18f,4.54,4.50,0.04,2019-06-14 09:06:58.068,1,17190,Jurassic World: Fallen Kingdom
67449,3b7ce237ec0f1c6df0221a4628f042b8,149092,credit card,49.0,291d4fd81e60b1adee0bc9eb8505755c,10.57,6.03,4.54,2021-12-31 12:50:24.692,1,70300,Not Today
67492,5453f22dd3b8d9ce3fc6d047874b11ec,113201,bank account,113.0,470e06c0a8c738f7782ae3d7e5c3f636,10.57,6.03,4.54,2021-12-26 00:47:15.881,-2,70300,Cine & Suite

Bài tập 4: Tìm ra tất các các giao dịch hưởng khuyến mãi theo hình thức direct discount

In [95]:
df_campaign.head()

   campaign_code    campaign_type
0          30060  direct discount
1          26650          voucher
2          33870          voucher
3          25690  direct discount
4          23040  direct discount

In [ ]:
df = pd.merge(df_ticket, df_campaign, how = 'inner', left_on='mkt_campaign_code', right_on='campaign_code')
df[df['campaign_type'] == 'direct discount']

,ticket_id,customer_id,paying_method,theater_name,device_id,original_price,discount_value,final_price,time,status_id,mkt_campaign_code,movie_name,campaign_code,campaign_type
0,9f2da3491b42b7599065ac102bdcb4c2,100004,credit card,33.0,3cac5d2e2eb76525aecea5c2ab46b3d9,4.54,1.28,3.26,2019-11-16 13:28:24.970,1,25690,The Grand Grandmaster,25690,direct discount
1,3b6145254e74306bfa15e359ee325512,115177,bank account,113.0,684bdc0b76a40607030c561c67dc2345,9.07,2.56,6.51,2019-11-17 11:35:33.195,1,25690,The Grand Grandmaster,25690,direct discount
2,882a93bb56d6b2005c55216e6f4b64e2,116901,bank account,53.0,603473a9b300a100206c4183eb11a63f,12.78,2.56,10.22,2019-11-07 22:16:34.600,1,25680,The Grand Grandmaster,25680,direct discount
3,773c2468d22661e00afae35498866e46,137661,debit card,81.0,5838684e43821f9ac995717b7440bf6a,10.72,1.32,9.40,2019-11-24 19:22:07.625,1,25700,The Grand Grandmaster,25700,direct discount
4,2737934f95e5f073b8a2b9f73b41af38,118518,balance,103.0,a8d2289de50322b454f68586e5f93015,4.54,1.28,3.26,2019-11-10 18:01:54.865,1,25680,The Grand Grandmaster,25680,direct discount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34781,03cde24c89bf8edfa389a055289512bd,100592,credit card,3.0,0c4174ada4da7f654f6a3bc5e3428cc5,11.92,2.14,9.78,2020-02-23 16:30:28.480,1,33100,The Gentlemen,33100,direct discount
34782,0f991b86505ce444d2a170a51ff28638,137213,credit card,19.0,e769d985ef1ee3a6eb8e74ad946dc1b4,12.33,2.56,9.77,2020-02-22 08:15:47.017,1,33100,The Gentlemen,33100,direct discount
34783,ebbba377f42e3f9a3e1348a7abe7188a,101169,credit card,9.0,f9c657a78ca366e8652d1719e73b5a39,9.07,2.56,6.51,2020-02-23 20:52:40.576,1,33100,The Gentlemen,33100,direct discount
34784,822a4b093b79bc8f01e3f4428376a847,118559,debit card,43.0,ffc912a5245c4c7cda887879d39d1edd,10.31,3.79,6.52,2020-03-08 21:01:04.872,1,33100,The Gentlemen,33100,direct discount
34785,fda2a0dbc302a132ab2a890511f64921,118783,debit card,83.0,61c5a41ee0201400edaeb3b5e8a9cd84,10.72,4.21,6.51,2020-02-22 08:54:05.422,1,33100,The Gentlemen,33100,direct discount

Bài tập 5: Lấy ra các giao dịch thành công được thực hiện trên mobile và có hưởng khuyến mãi theo hình thức voucher

In [113]:
df = pd.merge(
        pd.merge(df_ticket, df_device, how='inner', on='device_id'), df_campaign, how='inner', 
        left_on = 'mkt_campaign_code', right_on='campaign_code'
        )

df.head()

df[(df['status_id'] == 1 ) & 
   (df['campaign_type'] == 'voucher') & 
   (df['platform'] == 'mobile')]

,ticket_id,customer_id,paying_method,theater_name,device_id,original_price,discount_value,final_price,time,status_id,mkt_campaign_code,movie_name,model,platform,campaign_code,campaign_type
58,9edb949595709dc8c3d246850274af98,128578,bank account,46.0,b053488eb41b3ed9fa790cb44a221a99,9.07,1.65,7.42,2019-01-05 17:08:32.086,1,13760,Spider-Man,"iPhone8,1",mobile,13760,voucher
68,0c9f23181458e7046e6e4f54f065023e,139744,credit card,67.0,e9300dae179ee8db2b008d05ee4cfa86,11.55,0.41,11.14,2019-07-05 15:00:36.434,1,17210,Spider-Man,"iPhone10,6",mobile,17210,voucher
140,00a644f6327e72d0e6a5ef17b3548756,139325,balance,57.0,1f4031de0beb8d68d29fdf86a0fd93d8,7.42,1.86,5.56,2019-07-03 19:39:11.766,1,17170,Spider-Man,"iPhone9,4",mobile,17170,voucher
192,03466d8695952a827f46ae7b46c53c14,138946,balance,66.0,012d71b5db33cd0b0f5e9541b654a378,4.54,1.86,2.68,2019-07-06 18:42:28.493,1,17170,Spider-Man,"iPhone10,3",mobile,17170,voucher
226,558eaad8778beeccc5345720dab5d2d2,139494,bank account,44.0,e0b7e033271382a8420d8f86006982dc,9.49,1.86,7.63,2019-07-05 21:15:03.775,1,17170,Spider-Man,"iPhone10,1",mobile,17170,voucher
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35275,4061d7c38b1460cc67e7457fa3bbbb04,119995,balance,4.0,887421b32f9e1b5ba3ea06776efcd0fc,3.09,0.62,2.47,2020-12-11 21:44:49.989,1,42790,Terminator: Dark Fate,Xiaomi Redmi Note 7,mobile,42790,voucher
35298,50d6f3a14480620c349fa7c43bad89cf,145536,credit card,16.0,dc55041d8ce5fca813f8d654b60c67e6,4.33,0.82,3.51,2019-12-01 12:22:53.069,1,26650,Ford v Ferrari,"iPhone9,4",mobile,26650,voucher
35307,ecb34dcbf97800fa1d8a42dff10a122a,137876,balance,96.0,13231cf3433d22a445c7b9e7b01b504d,4.12,1.86,2.26,2019-05-30 17:26:15.591,1,17170,21 Bridges,"iPhone8,1",mobile,17170,voucher
35312,21515afe34055b2e86c8496c35157918,134749,balance,67.0,0c7cfca92b185b27ed6b3b4316b8b4d9,4.95,1.86,3.09,2019-05-25 00:08:05.004,1,17170,21 Bridges,"iPhone10,2",mobile,17170,voucher
35341,5650231adef4cd23c9570a232576178f,150305,balance,35.0,084ce147e15854b06f1f95da1ac73265,9.61,0.82,8.79,2021-01-27 17:30:03.419,1,48020,Monster Hunt 2,"iPad11,1",mobile,48020,voucher

Bài tập 7: Thống kê về số lượng giao dịch, số khách hàng theo từng mã lỗi (Loại bỏ các giao dịch thành công)

Bài tập 8: Tìm ra top 5 theater_name có số lượng đặt vé (thành công) lớn nhất

Bài tập 9: Tìm ra những theater_name nào có tổng doanh số lớn hơn doanh số trung bình của tất cả theater_name (Xét các giao dịch thành công)

Bài tập 10: Lấy ra top 10 campaign codes có doanh số lớn nhất (Doanh số chỉ tính giao dịch thành công)